/*
    theme: Base Theme Ramcon
    description: A base theme for Ramcon with essential styles and responsive design.
    author: Ramcon
    version: 1.0.0
    email: ramcondev@gmail.com
    website: https://ramcondev.webflow.io
*/

* {
  margin: 0px;
  padding: 0px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
header {
  background-color: #333;
  color: white;
  padding: 10px;
}
footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
